@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(158, 58, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif
}

.center {
    text-align: center;
    color: rgb(255, 255, 255);
}
form {
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.3);
   
}
form input {
    padding: 0.7em 0;

}
label  input{
    margin: 0.7em 0;
}
span {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.7em;
}

.form-group  .input {
    display: block;
    width: 100%;
    
}
select {
    width: 100%;
    padding: 0.7em;
    color: grey;
}

textarea {
    width: 100%;
    height: 100px;
}

button {
    background-color: rgb(158, 58, 4);
    font-family: inherit;
    padding: 0.7em;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
}

@media (max-width: 800px) {
    form {
         margin: 3em;
    }
}